.opch_txt_left {
    float: left;
    width: 125px;
    text-align: right;
    padding-right: 10px;
}
.opch_check_active{
   width: 50px;
   
   text-align: center;
    float: left;
}
.opch_check_thumb{
    float: left;
   padding-left: 30px ;
}

.opch_ohter_notes {
  
   float: left;
}
.opch_txt_block{
    padding-top:5px;
    padding-bottom: 5px;
    clear: left;
    min-height:30px;
    position: relative;

}

.opch_save{
    width: 715px;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}
.opch_subhead{
    float: left;
    width: 70px;
   
}
.opch_subhead_1{
    float: left;
    width: 450px;
    text-align: center;
}
.opch_subhead_2{
    float: left;
    width: 100px;
    text-align: right;
}

.opc_subhead_cont{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 140px;
    color:grey;
    clear: left;
    min-height: 15px;
}
.opch_wrap { 
    border: 1px solid #ddd; 
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top :20px;
    padding-left: 15px;
    width: 80%;
}
.apch_res_text {
    font-size: 14pt;
    font-weight: bold;
}



#feedback { font-size: 1.4em; }
  .selector .ui-selecting { background: #0073aa;color: white; }
  .selector .ui-selected { background: #0073aa; color: white; }
  .selector{ list-style-type: none; margin: 0; padding: 0; width: 550px; }
  .selector li { margin: 1px; padding: 0.4em; font-size: 1em; height: 12px; }
  .selector { border: 1px solid #7C7C7C; }

  .resultado_temas_cont{
      position: absolute;
      margin-left:136px;
      z-index: 5;
      background-color: white;
  }

  .resultado_temas_cont_2{
    position: absolute;
    margin-left:187px;
    margin-top:30px;
    z-index: 5;
    background-color: white;
    min-width: 400px;
   height: auto;
  

  }
  .bt_save_them{
      float: left;
      margin-right:30px;
  }
  .bt_orden_them{
    float: left;
  }
  .imgload{ 
   
    background-repeat: no-repeat; 
     background: url("loading2.gif"); 
     background-position: -26% 58%;
     background-repeat :no-repeat;
     height: auto;
     width: 550px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left : 10px;
     background-position-x : 36px;
     background-position-y : -96px;
     border: 1px solid #7C7C7C;

      }

      #ophome-tabs{
          width: 95%;
          margin-top :30px;
          padding-bottom :50px;
      }
      .lbs_transmision{
          float: left;
          width: 100px;
          padding :10px;

      } 
      #inp_title_transmision{
          clear: left;

    } 

  